.cart_details {
    padding: 40px 0;
}

.cart_details ul li {
    font-weight: 400;
    font-size: 17px;
    line-height: 20px;
    color: #2A414F;
    margin: 15px 0;
}

.cart_details h3 {
    margin-top: 15px;
}

.cart_btn {
    width: 100%;
    border: 0;
    background: #FF9900;
    border-radius: 4px;
    font-size: 17px;
    padding: 14px 0;
    cursor: pointer;
    color: #fff;
    margin: 5px 0;
}

.cart_btn:nth-child(2) {
    background: #FF3030;
}