@tailwind base;
@tailwind components;
@tailwind utilities;

*,
html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

ul li {
  list-style: none;
}

.hero_bg,
.appointment_bg,
.contact_bg {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.hero_bg {
  background-image: url('./assets/images/bg.png');
}

.appointment_bg {
  background-image: url('./assets/images/appointment.png');
}

.contact_bg {
  background-image: url('./assets/images/appointment.png');
}

@media only screen and (max-width: 667px) {
  .sm-p-4 {
    padding: 0px 20px;
  }
}

.rdp-day_selected {
  color: white;
  background-color: #0000ff;
}