@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700;900&display=swap');

/*====================================
            Common CSS
======================================*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    line-height: 24px;
    color: #3A3A3A;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 700;
}

a {
    text-decoration: none;
}

img {
    width: 100%;
}

ul li {
    list-style: none;
}

button {
    border: none;
    cursor: pointer;
}

.container {
    max-width: 1240px;
    width: 100%;
    margin: 0 auto;
}

/*====================================
            Header Section
======================================*/
.header_section {
    padding: 20px 0;
    background: #f1f5f6a1;
}

.menu_section {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu_section .nav {
    display: flex;
    gap: 20px;
}

.menu_section .nav ul li {
    display: inline-block;
}

.menu_section .nav ul li a {
    padding: 10px 15px;
    color: #3A3A3A;
    font-size: 16px;
    font-weight: 600;
    transition: 0.3s;
}

.menu_section .nav ul li a:hover {
    color: #E02C6D;
}

.menu_section .nav .navbar_icons a {
    padding-right: 15px;
    font-size: 19px;
    color: #000000;
}

.menu_section .logo span {
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    color: #3A3A3A;
}

.hamburger {
    display: none;
}

/*====================================
            Hero Section
======================================*/
.hero_area {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 70px 0;
}

.hero_area .hero_area_content {
    padding-right: 130px;
}

.hero_area .hero_area_content h1 {
    font-weight: 600;
    font-size: 52px;
    line-height: 70px;
}

.hero_area .hero_area_content P {
    font-weight: 600;
    font-size: 16px;
    padding-right: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.btn {
    background: #E02C6D;
    padding: 10px 30px;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 16px;
    border-radius: 5px;
    margin-top: 10px;
}

.hero_area .hero_area_content .btn {
    border-radius: 41px;
    margin-top: 10px;
}

.hero_area .hero_area_content .btn i {
    padding-left: 10px;
}

.hero_area_img img {
    width: 475px;
}

/*====================================
            Clients Section
======================================*/

/*====================================
       Popular Collection Section
======================================*/
.popular_section {
    padding: 70px 0;
}

.popular_section h2 {
    text-align: center;
    font-weight: 600;
    font-size: 28px;
    line-height: 70px;
}

.popular_collection_items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    margin-top: 30px;
}

.collection_item_card {
    background-color: #fff;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    padding: 15px;
}

.collection_item_card h3 {
    font-weight: 500;
    font-size: 28px;
    line-height: 40px;
    color: #18191F;
}

.collection_item_card span {
    font-weight: 400;
    font-size: 24px;
    color: rgba(0, 0, 0, 0.87);
    line-height: 40px;
}
.collection_item_card ul{
    margin: 8px 0;
}
.collection_item_card ul li {
    font-weight: 700;
    font-size: 14px;
    color: #787885;
    line-height: 22px;
}

.collection_item_card .ratings span {
    font-size: 16px;
    color: #5E6366;
    line-height: 22px;
}

.collection_item_card .ratings span i {
    color: #FB8200;
    font-size: 14px;
}

/*====================================
        News Latter Section
======================================*/

/*====================================
            Footer Section
======================================*/

/*
*-------------------------------------
* Responsive Section
*-------------------------------------
*/

@media screen and (max-width: 576px) {
    .container {
        width: 90%;
    }

    /* Header Section Responsive */

    .header_section {
        padding: 15px 0;
    }

    .menu_section .logo span {
        font-size: 16px;
        line-height: 24px;
    }

    .menu_section .nav ul {
        display: none;
    }

    .menu_section .nav .navbar_icons a:first-child {
        display: none;
    }

    .menu_section .nav .navbar_icons a {
        font-size: 24px;
    }

    .hamburger {
        display: block;
        font-size: 24px;
        cursor: pointer;
    }

    /* Hero Section */

    .hero_area {
        flex-direction: column-reverse;
        gap: 30px;
        padding: 40px 0;
    }

    .hero_area .hero_area_content {
        padding: 0px;
        text-align: center;
    }

    .hero_area .hero_area_content h1 {
        font-size: 28px;
        line-height: 42px;
    }

    .hero_area .hero_area_content p {
        padding-right: 0px;
    }

    .hero_area_img img {
        width: 300px;
    }

    /* Popular section */
    .popular_section {
        padding: 40px 0;
    }
    .popular_collection_items{
        grid-template-columns: 1fr;
        gap: 20px;
    }
}