.product {
    border: 1px solid #95A0A7;
    border-radius: 8px;
    padding: 7px 8px 0px 7px;
}

.product img {
    width: 100%;
    border-radius: 8px;
}

.product_body {
    padding: 15px 0;
}

.product_body h6 {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #0E161A;
}

.product_body h3 {
    font-size: 17px;
    color: #0E161A;
    padding-top: 11px;
}

.product .bottom_text {
    font-weight: 400;
    font-size: 14px;
    color: #2A414F;
    line-height: 20px;
    margin-bottom: 13px;
}

.product .btn {
    display: block;
    width: 106%;
    margin: 0px -7px;
    background: #FFE0B3;
    border: none;
    border-top: 1px solid #95A0A7;
    border-radius: 0px 0px 8px 8px;
    text-align: center;
    cursor: pointer;
    padding: 12px 0;
}