header {
    background-color: #1C2B35;
}

.header .nav_links ul li a {
    color: #fff;
}

.menu_items {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
}

.nav_links ul {
    display: flex;
    gap: 5px;
}

.nav_links ul li a {
    color: #fff;
    font-weight: 400;
    font-size: 17px;
    padding: 8px 15px;
    transition: all 0.3s ease-in-out;
    border: 2px solid #1C2B35;
    border-radius: 5px;
}

.nav_links ul li a:hover {
    border: 2px solid #f5f2f6;
}