*,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul li {
  display: none;
}

a {
  text-decoration: none;
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0;
  background-color: #eee;
}

.navbar a {
  color: black;
  font-weight: 500;
  padding: 5px 15px;
  transition: all 0.3s ease-in;
}

.navbar a:hover {
  background-color: aquamarine;
}

/* Style friend component */
.friend {
  border: 2px solid peru;
  border-radius: 10px;
  margin: 20px;
  padding: 15px;
}