@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap');

*,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Lato', sans-serif;
  background-color: #f1f6f5;
}

ul li {
  list-style: none;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1140px;
  width: 100%;
  margin: 0 auto;
}